@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
    padding: 0;
    margin: 0;
}


.wrapper{
    width: 100%;
	background: url(Images/bg5.jpg);
	background-size: cover;
	height: 100vh;  
}

.navbar{
    width: 100%;
    height: 70px;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 300px;
    height: auto;
    padding:  1px;
    margin-left: 60px;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    margin: 0 25px;
    display: inline-block;
    line-height: 100px;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;    
}

.navbar ul li:hover{
    filter: grayscale(1);
    transform: scale(1.5);  
}

.content{
    width: 100%;
    position: absolute;
    top: 42%;
    text-align: center;
    margin: 10px;
    
}

.logo1{
    width: 150px;
    height: 150px;
}

.content h1{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.content ul{
    margin: 1px auto;
    font-weight: 100;
    font-size: 19px;
    line-height: 25px;
    text-decoration: none;
    color: black;
}

.content ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Roboto';
}

.content1 :hover{
    filter: grayscale(1);
    transform: scale(1.03);
    
}
